/bin
/.DS_Store
/.classpath
/.project
/CONTRIBUTING.markdown
/README.markdown
/build-common-ivy.xml
/build-common-osgi-plugin.xml
/build-common-plugin.xml
/build-common-plugins.xml
/build-common.xml
/common.bnd
/copyright.txt
/ivy-settings-publisher.xml
/ivy-settings.xml
/ivy.xml
/ivy.xml.MD5
/build.isturm.properties
/build.properties
/build.sgund.properties
/build.xml
/dist/
/ext/
/hooks/
/layouttpl/
/lib/
/misc/
/osgi/
/shared/
/themes/
/tools/
/webs/
/README.md
/.ivy/
