//$font-default: TheSansUHH,sans-serif;
$font-default: sans-serif;

//$font-bold: TheSansUHHBold,sans-serif;
$font-bold: sans-serif;

//$font-italics: TheSansUHHItalic,sans-serif;
$font-italics: sans-serif;

$primary-color: #f50000;