/*** these styles may be needed for an in-between resolution (between 768 and 960/980) ***/
/*
.sharetile {
    width: 131px;
}

.video-image-wrapper {
    height: 110px;
    margin-right: 8px;
    max-width: 250px;
}

.path {
    font-size: 11px;
    width: 100%;
}

.catalogue-container .row-fluid .span3 {
    margin: 0px;
    padding: 0px;
    float: left;
}

#searchedvideo {
    width: 30em;
}

*/



/*** MOVED FROM MIN-960  ***/

.aui #navigation {
    display: table;
    float: left;
    margin-top: 0;
    visibility: visible;
    width: 56%;
}

.aui #navigation .nav li {
    min-width: 100px;
    width: 20%;
}

.aui .container-fluid::before, 
.aui .container-fluid::after {
    content: "";
    display: table;
    line-height: 0;
    padding: 25px 25px 20px;
    max-width: 998px;
}

#wrapper {
    background-color: #fff;
    max-width: 1100px;
    padding: 0 16px;
    width: calc(100% - 32px);
}

.responsive_li_item {
  	 	display: none;
   	visibility: hidden;
}

.aist {
    margin-bottom: 30px;
    margin-left: -9px;
}

.admintile.wide em p {
   	font-size: 10px;
   	margin-top: -8px;
}

#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    float: right;
    height: 19px;
    padding: 4px 0 4px 4px;
    width: 30%;
    font-size: 14px;
}

.field.subInstOrder {
   	margin-right: 12px;
   	width: 22px;
}

.aui .portlet-borderless-container {
   	padding: 0;
}

.aui .dockbar-split .dockbar, .aui .dockbar {
   	display: none;
}

.catalogue-container .row-fluid .span9 {
    width: 74%;
}

.catalogue-container .row-fluid .span3 {
    width: 25%;
}	

.catalogue-container .row-fluid [class*="span"] {
    margin-left: 1%;
}
	
/*** end MOVED FROM MIN-960  ***/

#content {
	clear: both;
}

.taglib-page-iterator .lfr-pagination-buttons {
    visibility: hidden;
	padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.aui #navigation .nav .dropdown-menu > li a {
    background: #f9f9f9 url("/lecture2go-portlet/img/rot_navi-pfeil-rechts.png") no-repeat scroll 9px 11px !important;
    border-color: #dddddd;
    border-radius: 0;
    border-style: solid solid none;
    border-width: 1px;
    color: #4e4e4e;
    display: block;
    font-family: TheSansUHH,sans-serif !important;
    font-size: 12px;
    margin-left: 3px;
    margin-top: -3px;
    padding-left: 29px;
    text-align: left;
    text-decoration: none;
    width: 80%;
}

.metainfo-small {
    line-height: 20px;
    margin-left: 67px;
    min-height: 45px;
}

fieldset.fieldset.add-streaming-server div.layout {
    margin-left: -11px;
    margin-top: -40px;
}

.meta-date {
    font-style: normal !important;
}

.admintile.wide.icons.creators > button {
    float: right;
    font-size: 12px;
    height: 26px;
    margin-left: -3px;
    padding: 0 7px;
}

.span3 .accordion-inner li {
    background-color: #f3f3f3 !important;
    border-color: #fff #f3f3f3 #d4d4d4 !important;
    border-style: solid !important;
    border-width: 1px !important;
    line-height: 27px;
}
.span3 .accordion-inner li:hover {
	background-color: #e9e9e9 !important;
}


#addCreator {
    float: left;
    margin-left: 20%;
    margin-bottom: 10px;
}

.aui .accordion-group.lfr-panel-extended .accordion-heading .accordion-toggle {
    background-color: #a4a5a6;
    color: #000;
    font-weight: 900;
    padding: 0 3px 20px 6px;
}

#qr {
    width: 350px;
    height: 350px;
    margin-left: -33px;
    opacity: 0.1;
    overflow: hidden;
    clear: both;
}

.aui .navbar .nav {
    font-family: TheSansUHHBold,sans-serif !important;
    font-size: 14px;
    width: 100%;
}

.aui .dropdown-menu {
    border-bottom: 3px solid #4e4e4e !important;
    border-left: 0 solid transparent !important;
    border-right: 0 solid transparent !important;
    box-shadow: none;
    margin-bottom: -1px !important;
    margin-left: -3px !important;
    margin-top: 3px !important;
    padding: 0;
    width: 184px;
}

.aui #navigation .nav .dropdown-menu > li {
    background: #f9f9f9 none repeat scroll 0 0 !important;
    border-bottom: 1px solid #f3f3f3;
    border-radius: 0;
    margin-top: -1px;
    width: 100%;
    z-index: 23452345;
}

.aui .btn:hover, .aui .btn:focus {
    background-position: 0 45px;
    text-decoration: none;
}

p.smallitalic {
    font-size: 9px;
    font-style: italic;
}

.aui [class*="span"], .aui .uneditable-input[class*="span"], .aui .row-fluid [class*="span"] {
    float: left;
}
 
.taglib-search-iterator-page-iterator-top {
    margin-bottom: 15px;
    visibility: hidden;
    display: none;
}

.aui .btn:hover, .aui .btn:focus {
    transition: none 0s ease 0s ;
}

.aui .row-fluid [class*="span"]:first-child {
    float: left;
    margin-left: 0;
}

.allcreators {
	font-size: smaller;
	height: 40px;
	line-height: 12px;
}

#myToggler .toggler-header-collapsed:hover .video-image-overlay, #myToggler .toggler-header-collapsed:hover .tri, #myToggler .toggler-header-expanded .video-image-overlay, #myToggler .toggler-header-expanded .tri {
    visibility: visible;
}

.layered-paper {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 8px 0px -5px #666, 0px 8px 1px -4px rgba(0, 0, 0, 0.15), 0px 15px 0px -10px #BBB, 0px 15px 1px -9px rgba(0, 0, 0, 0.15);
}

.video-image-wrapper {
    margin-right: 12px;
    float: left;
    max-width: 250px;
    height: 110px;
    position: relative;
}

.video-image-big {
    position: relative;
    width: 200px;
    height: 109px !important;
    text-align: center;
}

.video-image-overlay {
    left: 10px;
    position: absolute;
    top: 10px;
    background-color: #C40017;
    color: #FFF;
    margin-left: 7px;
    visibility: hidden;
}

.aui #navigation.open .navbar-inner {
    border-radius: 0;
    padding: 0;
}

#video-list .list-group-item:hover .overlay {
  position: absolute; 
  top: 8px; 
  width: 200px; 
  height: 100px; 
  background-color: 
  #000000; 
  opacity: .1;
  z-index: 95;
}

#video-list .list-group-item:hover .overlay-small {
  position: absolute; 
  top: 5px; 
  width: 60px; 
  height: 30px; 
  background-color: 
  #000000; 
  opacity: .1;
  z-index: 95;
}

.video-image-wrapper-small {
    margin-right: 8px;
    margin-top: 7px;
    float: left;
    max-width: 60px;
    height: 30px;
}

.video-image-wrapper-small.related {
    max-width: 113px;
    height: 57px;
    margin-top: 2px;
    opacity: 0.9;
}

.video-image-wrapper-small.related:hover {
	 opacity: 1;
}

.metainfo-small.related {
    margin-left: 122px;
}

.metainfo-wide {
    width: 100%;
}

.metainfolist {
    width: 100%;
}

.metainfo {
    width: 70%;
}

#metadata {
    float: left;
    width: 93%;
}

#metadata-upload {
    margin-top: 14px;
}

.path {
    width: 70%;
    font-size: 11px;
}

.path-wide{
	width: 100%;
	font-size: 11px;
}

.path > span {
    font-weight: 900;
}

.path-wide > span {
    font-weight: 900;
}

.meta-video-info {
    width: 70%;
}

.meta-video-info-wide{
	width: 100%;
}

.list-group.toggler-content-collapsed.content > li {
    border-width: 0px;
    border-style: solid;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #D81B1B;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background-color: #f6f6f6;
}

#meta-share input.option1 {
    background-color: #ddd;
    border: medium none;
    color: #484848;
    font-size: 14px;
    height: 27px;
    margin-bottom: 0;
    margin-top: -15px;
}

.sharetile {
    border-left: 3px solid #b1b1b1;
    float: left;
    height: auto;
    margin-left: 23px;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 8px;
}

.aui .btn:hover, .aui .btn:focus, .aui .btn:active, .aui .btn.active, .aui .btn.disabled, .aui .btn[disabled] {
    background-color: #d81b1b;
    color: white;
}

#uploaded-files > tbody > tr > td {
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    width: 100% !important;
}

.creator-small2 {
    font-size: 11px;
    font-style: normal !important;
}

.creator-small2.related {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    color: #777;
}

.video-image {
    margin-left: 2px;
    max-height: 30px !important;
    position: relative;
    width: 60px;
}

.video-image.related {
    width: 113px;
    min-height: 57px;
}

#_lgopenaccessvideos_WAR_lecture2goportlet_lectureseriesesSearchContainer .table tr:first-of-type td {
	padding: 0px;
}

#_lgopenaccessvideos_WAR_lecture2goportlet_lectureseriesesSearchContainer .table tr td {
	padding: 8px 0 0;
}

.videotile {
    border: 0px solid #000;
    border-radius: 0px;
    height: auto;
    padding: 0px;
}

.videotile button {
    float: right;
    margin-right: 6px;
    margin-top: 0px;
    background-color: transparent;
    border: medium none;
    transition: all 0.2s ease;
}

.videotile button.highlight {
	transform: scale(1.5);
}

.videotile button.rotated {
	transform: rotate(180deg) scale(1.5);
}



.videotile.wide {
    width: auto;
    height: 120px;
    background-color: #f3f3f3;
    padding: 8px 0px 0px 8px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.2s;
}

.term-of-creation{
	float: right;
	font-size: 12px;
	margin-right: 10px;
}

.videotile.wide:hover {
    background-color: #e9e9e9 !important;
}

.videotile.small {
    background-color: #f3f3f3 !important;
    transition: background 0.2s;
}

.videotile.small:hover {
    background-color: #e9e9e9 !important;
}

.videotile.small.related {
    list-style: outside none none !important;
    padding: 0px !important;
    height: auto;
    line-height: 15px;
    min-height: 70px;
}

.videotile.small em {
	color: #777;
}

#video-list .list-group-item {
    position: relative;
    display: block;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
    height: 118px;
}

#video-list .list-group-item:hover {
    text-decoration: none;
    background-color: #f3f3f3;
}

#video-list .sublist2 {
    margin-top: 0px;
    margin-bottom: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

#videoscount {
    font-size: 11px;
    float: right;
    padding: 0px;
    color: #E2001A;
}

#videolist {
    margin-left: 60px;
    background-color: #F3F3F3;
    margin-top: 0px;
    border-bottom: 1px solid #F3F3F3 !important;
}

#searchedvideo {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: small;
    width: 40em;
}

a.list-group-item:hover, a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f3f3f3;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.aui ul, .aui ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.aui form {
    margin: 0px;
}

.search {
    position: relative;
}

#socialshareprivacy {
    float: left;
    max-width: 111px;
    padding: 0px 5px 5px;
    margin-top: -10px;
}

#_lgopenaccessvideos_WAR_lecture2goportlet_lectureseriesesSearchContainer_col-1 {
    padding: 0px;
    margin: 0px;
}

#loadMoreTerms, #loadMoreCreators {
    cursor: pointer;
    margin-left: 15px;
    color: #c90219;
}

.aui .accordion-inner {
    padding: 0px;
    border-top: 1px solid #E5E5E5;
}

.aui .accordion-group .toggler-content-expanded .accordion-inner {
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    border-color: #ddd;
}

.aui .accordion-group.lfr-panel-extended .accordion-heading {
    background: #a4a5a6 none repeat scroll 0 0;
    border-style: none;
    border-width: 0 0 1px;
}

.tileheading {
    font-size: 17px;
}

thead, th {
    display: none;
}

.aui .accordion-group.lfr-panel-extended {
    border-width: 0px;
    border-radius: 0px;
    padding-bottom: 5px;
}

.aui .btn-group > .btn:first-child {
	border-radius: 0px;
}

.aui #navigation .nav li.active > a {
    border-radius: 0px;
}

.aui .btn {
    background: linear-gradient(#eee, #ddd);
    border-radius: 0;
    border-width: 0;
    color: #484848;
    margin-right: 10px;
    font-size: 14px;
}

.aui .btn:hover {
	color: #484848;
    background: linear-gradient(#eee, #ccc);
	
}

.aui .btn-primary {
    color: #fff;
    background-color: #d81b1b;
    background: linear-gradient(#e5331c, #c90219);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0;
}

.aui .btn-primary:hover {
	opacity: 0.85;
    color: #fff;
    background-color: #d81b1b;
    background: linear-gradient(#e5331c, #c90219);
}


.aui .btn .caret {
    margin-top: 9px;
    margin-left: 8px;
}

.aui em.smallitalic {
    float: left;
    margin-left: 13px;
}

.aui .thumbnail {
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #DDD;
    border-radius: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055);
    height: 150px;
    width: 250px;
    float: left;
}

.badge {
    float: right;
    margin-right: 15px;
}

.title-small {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin: 0px;
    padding-top: 5px;
    width: 80%;
}

.title-small.related {
    margin-bottom: auto;
    width: 100%;
    word-wrap: break-word;
    font-size: 12px;
    font-weight: 800;
}

.play-small {
  left: 26px;
  position:absolute;
  top: 11px;
  width: 100%;
  font-size:20px;
  color:#fff; 
  text-shadow: 1px 1px #ff0000; 
  opacity: 0.7;
}

.play-big {
    left: 100px;
    position:absolute;
    top: 30px;
    width: 100%;
    font-size:50px;
    color:#fff; 
    text-shadow: 1px 1px #ff0000; 
    opacity: 0.7;
}

.player-wide {
    width: 100%;
}

.player {
    width: 70%;
}

.aui .label {
    border-radius: 0px;
    display: inline-block;
    padding: 2px 4px;
    margin-right: 5px;
    font-size: 10px;
    line-height: 14px;
    color: #777;
    vertical-align: baseline;
    white-space: nowrap;
    border: 1px solid #AAA !important;
    background: transparent;
    text-shadow: none;
    padding: 2px 4px 0px !important;
    font-weight: 100;
}

.aui .label:hover {
	color: #444;
}

.aui .table td {
    background-color: #FFF !important;
}

.aui .table-bordered th, .aui .table-bordered td {
    border-left: 0px solid #FFF;
}

.aui .table {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
}

#c2g input {
    margin-left: 135px;
    margin-top: 17px;
    position: absolute;
}

.aui #tabs {
    background: #fff none repeat scroll 0% 0%;
}

.aui .nav-tabs {
    border-bottom:none;
}

.aui .nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #FFF;
    border-radius: 0px;
    background-color: #EAEAEA;
}

.aui .nav-tabs > li > a:hover, .aui .nav-tabs > li > a:focus {
    border-color: #EEE #EEE #EEE #EEE;
}

.aui .nav-tabs > .active > a, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus {
    color: #555;
    background-color: #FFF;
    border-width: 3px 0px 0px 0px !important;
    border-style: solid;
    border-color: #D81B1B #FFF #FFF #FFF;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    cursor: default;
}

.placeholder {
    border: 0px none !important;
    background-color: #E0E0E0 !important;
    list-style: outside none none;
    height: 1px;
}

.aui a:hover {
    text-decoration: none !important;
}

.filter-menu-link {
    line-height: 18px;
    margin-left: 10px;
    padding: 6px 2px;
}

.filter-menu {
    border-bottom: 1px solid #F6F6F6 !important;
}

.generation-date {
    float: right;
    font-size: 10px;
    margin-right: 2%;
    margin-top: 4px;
}

.duration {
    float: right;
    margin-right: 26%;
}

.download {
    float: left;
    margin-left: 0px;
    margin-right: 15px;
    border-left: 3px solid #B1B1B1;
    padding-left: 5px;
}


#downloads {
    margin: 0px;
    padding: 0px;
}

#down > p.smallitalic {
    float: left;
    position: absolute;
    font-style: italic;
    margin-top: 53px;
}

.lectureseries-title {
	font-weight: 600;
	font-size: 16px;
	height: 40px;
	margin-bottom: 10px;
	overflow: hidden;
}

.aui .nav {
    margin-bottom: 0px;
}

.col-md-5 {
    top: 0px;
    right: 0%;
    width: 28%;
    position: absolute;
}

.label.label-light {
    float: right;
    height: 16px;
    margin-right: 5px;
}

.license > a > img {
    height: 20px;
    float: right;
}

.meta-title {
    font-size: 22px;
    font-weight: 900;
    line-height: 25px;
    margin: 10px 0;
}

.views {
	float: right;
    margin: 0 10px;
}

.meta-description {
    border: 1px solid #eee;
    font-size: 13px !important;
    margin-bottom: 15px;
    padding: 20px 40px;
    width: auto;
}

.meta-description p{
    font-size: 13px !important;
}

.meta-creators {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 20px;
}

.meta-lectureseries {
	font-weight: 600;
}

.col-md-7 {
    margin-top: 0px;
}

.related-lectureseries-name {
	font-size: 13px;
}

.date.related {
    font-size: 10px;
}

#_lgopenaccessvideos_WAR_lecture2goportlet_timeStart {
    width: 125px;
    margin-left: 5px;
}

#_lgopenaccessvideos_WAR_lecture2goportlet_citation {
    width: 125px;
    margin-left: 5px;
}

#_lgopenaccessvideos_WAR_lecture2goportlet_timeEnd {
    width: 125px;
    margin-left: 5px;
}

#metadata input {
    height: 20px;
    font-size: 13px;
    padding: 1px;
    width: 100%;
    margin: 0px 0px 0px 8px !important;
}

#metadata input:hover {
    border: 1px solid #d81b1b !important;
    color: #d81b1b;
}

#metadata > p.smallitalic {
    font-style: italic;
    margin-left: 0;
}

#metadata ul > li {
    padding: 0px;
    margin: 0px;
}

#metadata label {
    padding: 0px;
    margin: 3px 0px 3px 8px;
    font-size: 12px;
    line-height: 11px;
}

#meta-share input {
    height: 13px;
}

#meta-share .appmon_support_form_row_1 {
    font-size: 13px;
}

#meta-share .appmon_support_form_row_2 {
    font-size: 13px;
}

#meta-share input.option1:hover {
    background: #e5331c none repeat scroll 0 0;
    color: white;
}

#meta-share {
    border-left: 3px solid #B1B1B1;
    padding-left: 5px;
    width: 229px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#qr:hover {
    cursor: none;
    opacity: 0.9;
}

#embedForm {
    float: left;
    margin-left: -22px;
}

.aui img.imgsmall {
    vertical-align: middle;
    border: 0px none;
    height: 57px;
    max-width: 113px;
    width: 100%;
}

.aui #chapters {
    padding-left: 5px;
    padding-top: 0px;
    margin-top: 0px;
    width: auto;
    border-width: 0px 0px 0px 3px;
    border-style: none none none solid;
    border-color: #B1B1B1;
}

.aui .chaptertile {
    padding: 2px 0px 5px;
    border-width: 1px 0px 0px !important;
    border-style: solid none none;
    border-color: #E0E0E0;
}

#chapters .chaptertile input {
    margin-left: 48%;
    margin-top: -55px;
    position: absolute;
}

#chapters .commenttile input {
    margin-left: 13%;
    margin-top: -37px;
    position: absolute;
}

.aui .chaptertile:hover {
    background: #f3f3f3 none repeat scroll 0 0;
    cursor: pointer;
}

.aui .chaptertile span {
    padding-left: 10px;
    font-size: 10px;
    float: left;
    position: absolute;
    font-size: 9px;
}

.aui .chaptertile a span {
    padding: 0px;
    margin-left: 123px;
    margin-top: -44px;
    font-size: 12px;
}

.format {
    color: #d81b1b;
    font-size: 10px;
    line-height: 5px;
    padding: 0;
}

.aui .chaptertile.active {
    color: #D81B1B;
    background: #fff none repeat scroll 0% 0%;
}

.commenttile > div {
    font-size: 10px;
    cursor: pointer;
}

.commenttile {
    margin-left: 130px;
}

.fs8 {
    margin-right: 5px;
    font-size: 9px;
    margin-left: 5px;
    cursor: pointer;
}

.fs10 {
    font-size: 10px;
}

#description > em {
    font-style: inherit;
    margin-left: 53px;
}

#description {
    line-height: 8px;
    padding-bottom: 15px;
}

.admintile.wide.icons {
    width: 15%;
}

.admintile.wide {
    margin: 0 -9px 0 3px;
    width: 85%;
}

.admintile {
    border-top: 0px solid #EAEAEA;
    float: left;
    padding-top: 3px;
    font-size: 13px;
}

.admintile.wide > a {
    font-size: 14px;
    font-weight: 700;
}

.admintile.wide.icons > a {
    float: right;
    padding: 3px;
}

.admintile.wide em {
    font-size: 11px;
    font-style: normal;
}

.adminrow.wide:hover {
    background-color: #eaeaea;
    height: 100%;
}

.adminrow.wide {
    background-color: #f3f3f3;
    border-top: 1px solid #eee;
}

.lfr-search-container {
    margin-top: 0px;
    overflow: auto;
}

.aui input[type="color"], .aui input[type="date"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="email"], .aui input[type="month"], .aui input[type="number"], .aui input[type="password"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="text"], .aui input[type="time"], .aui input[type="url"], .aui input[type="week"], .aui select, .aui textarea, .aui .uneditable-input {
    font-family: TheSansUHH,sans-serif;
}

.aui select {
    -moz-appearance: none;
    background-color: #DDD;
    background-image: linear-gradient(45deg, transparent 50%, #000 50%), linear-gradient(135deg, #000 50%, transparent 50%), linear-gradient(to right, #DDD, #DDD);
    background-position: calc(100% - 18px) calc(1em - 2px), calc(100% - 13px) calc(1em - 2px), 100% 0px;
    background-repeat: no-repeat;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    border: 0px none;
    border-radius: 0px;
    box-sizing: border-box;
    color: #484848;
    float: left;
    margin-right: 10px;
    line-height: 20px;
    
    /* reset */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#heading {
   	margin-top: -30px;
   	padding-bottom: 7px;
}

.aui .table th, .aui .table td {
    border-bottom: 0 solid #fff;
    border-top: 0 none;
    margin: 0;
    padding: 0 0 3px;
}
	
.aui #my-tab-content {
	margin-top: 1px;
	min-height: 0;
	overflow: hidden;
	width: auto;
}

.aui select > option {
    background-color: #fff;
    border: 0 none;
}

.aui select:focus {
    border: 0 solid rgba(0, 172, 255, 0.8);
    outline: 0px auto rgba(82, 168, 236, 0.6);
    outline-offset: -2px;
}

.add-new-creator-term-object .control-group {
    float: left;
    margin: 0 6px 0 0;
}

.admintile.wide .control-group {
    float: left;
    margin: 0 6px 0 0;
}

.aui select, .aui input[type="file"] {
    height: 30px;
    line-height: 28px;
    margin-bottom: 8px;
}

.aui .alert, .aui .portlet-msg-alert, .aui .portlet-msg-error, .aui .portlet-msg-help, .aui .portlet-msg-info, .aui .portlet-msg-progress, .aui .portlet-msg-success {
    background-color: transparent;
    border-color: #eaeaea -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px 0 0;
    color: #c40017;
    margin-top: 20px;
    padding-left: 0;
    word-wrap: break-word;
}

#searchName {
    margin-left: 3px;
    margin-top: 3px;
}

#metadata-upload div {
    width: 100%;
    float: left;
}

#metadata-upload label {
    float: left;
    min-width: 116px;
    width: 15%;
}

#metadata-upload .subInstitutions {
    border: 0 none;
    margin-left: 20%;
    margin-bottom: 10px;
    width: 49%;
}

#metadata-upload #creators {
    clear: both;
    margin-left: 20%;
    width: 56% !important;
}

#metadata-upload #creators div div label {
    margin-right: -6%;
}

#metadata-upload #creators div div select {
    margin-left: 11.5%;
    margin-top: 10px;
}

#metadata-upload select {
    width: 50%;
}

#metadata-upload .textarea {
    width: 50%;
}

#metadata-upload input {
    padding: 5px;
}

#permissions div label {
    float: left;
    line-height: 41px;
    margin-right: 10px;
}

#permissions div {
    float: left;
    line-height: 47px;
    margin-right: 14px;
}

#c2g-generate input {
    margin-left: 120px;
    margin-top: 18px;
}

#license {
    float: left;
    width: 100%;
}

#license > div {
    float: left;
    margin-bottom: 43px;
    margin-right: 41px;
    margin-top: 0;
}

#license input {
    line-height: 28px;
    margin-top: 0;
}

#license div a {
    margin-left: 20px;
}

#permissions {
    float: left;
    width: 100%;
}

.cke_1.cke.cke_reset.cke_chrome {
    width: 65% !important;
}

.edit-video-lable {
    border-bottom: 1px solid #ddd;
    color: black !important;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700 !important;
    padding: 30px 0 5px;
}

#uploaded-files {
    color: #c40017 !important;
    font-size: 13px !important;
    font-style: normal;
}
	
.aui #upload-form {
    display: none;
    width: 65%;
}

.aui .progress {
    overflow: hidden;
    height: 25px;
    margin-bottom: 11px;
    background-color: #F6F6F6;
    background-image: none;
    border-radius: 0px;
}

#c2g {
    margin-top: 0;
}

.prodCont {
    margin-left: 20%;
    width: 56% !important;
}

.facilCont {
    margin-left: 20%;
    width: 56% !important;
}

#fileupload {
    font-family: inherit !important;
}

.add-new-creator-term-object #add {
    margin-top: 25px;
}


.aui #navigation .nav .dropdown-menu > li a:hover {
    background: #ddd url("/lecture2go-portlet/img/rot_navi-pfeil-rechts.png") no-repeat scroll 9px 11px !important;
    text-decoration: none;
}

.aui .badge {
	background: rgba(0, 0, 0, 0) linear-gradient(45deg, transparent 65%, #333 70%) repeat scroll 0 0;
	border-radius: 0;
	height: 70px;
	margin: 0;
	padding: 5px 5px 0 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	width: 70px;
}
	
.aui .icon-caret-down::before {
    content: "";
}

.dropdown-toggle > i {
    visibility: hidden;
}

.aui .modify-pages .lfr-nav-item .lfr-nav-child-toggle {
    margin-left: -7px;
    padding: 0;
    visibility: hidden;
}

.aui .dockbar-split .dockbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle {
    background: #ddd none repeat scroll 0 0;
    box-shadow: none;
    color: #4e4e4e;
    margin-right: 0;
    font-size:11px;
}

.aui .dockbar .navbar-inner .nav > li > a, .aui .dockbar .navbar-inner .nav > li a:focus, .aui .dockbar-split .dockbar .navbar-inner .nav > li > a, .aui .dockbar-split .dockbar .navbar-inner .nav > li a:focus {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    font-size: 11px;
    padding: 3px 0px 3px 20px;
}

#banner .meta {
    position: absolute;
    font-size: 11px;
    line-height: 13px;
    right: 10px;
    top: 5px;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-account-controls > li > a, .aui .dockbar-split .dockbar .navbar-inner .nav-account-controls li.open > a {
    color: #4e4e4e;
    margin-right: 0px;
    padding: 0;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-account-controls {
    background: transparent none repeat scroll 0 0;
    border: 0 solid #ddd;
    margin-right: 1%;
    right: 0;
}

.aui .dockbar.navbar .nav > li > a, .aui .dockbar.navbar .nav > li a:focus {
    background: transparent none repeat scroll 0 0;
    color: #4e4e4e;
   padding: 0px 0px 3px 20px;
}

.aui .dockbar.navbar .nav li.dropdown .dropdown-menu li a {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #4e4e4e;
    font-size: 11px;
}
.aui .modal {
    border-radius: 0px;
}

.my-sites{
    display: none;
    visibility: hidden;
}

.dockbar-user-notifications {
    display: none;
    visibility: hidden;
}

.aui .navbar.dockbar .navbar-inner li.sign-in {
    font-family: TheSansUHH,sans-serif;
    font-size: 11px;
}

.user-full-name {
    float: right;
    font-size: 11px;
    padding: 0;
    margin-right: 3px
}

#usr-roles > div {
    margin-left: 7px;
}

#usr-roles div.control-group.form-inline {
}

#usr-roles div.control-group.form-inline input {
	position: absolute;
	left: 300px;
	
}


#_lgadminvideomanagement_WAR_lecture2goportlet_apply-date-time {
    float: left;
    margin-left: 231px;
    position: absolute;
    margin-top: -56px;
}

#_lgadminlectureseriesmanagement_WAR_lecture2goportlet_longDesc {
    width: 509px;
    height: 200px;
}

div.filter-menu-link span.icon-large.icon-remove {
    margin-top: 4px;
    float: right;
    margin-right: 8px;
}

.aui .lfr-hudcrumbs .breadcrumb {
    display: none;
}

.aui body {
    padding-left: 0px;
    padding-right: 0px;
 	color: #4d4d4d;
 	font-size: 12px
}

.aui a:focus {
    outline: none;
}

.aui .dropdown-menu > li > a:hover, .aui .dropdown-menu > li > a:focus, .aui .dropdown-submenu:hover > a, .aui .dropdown-submenu:focus > a {
    text-decoration: none;
}

#license .control-group.form-inline {
    float: left;
    margin-top: 0;
}

.aui .navbar-fixed-top, .aui .navbar-fixed-bottom, .aui .navbar-static-top {
    margin-left: 0;
    margin-right: 12px;
}

.add-new-creator-term-object {
    float: left;
    margin-bottom: 55px;
}

.add-new-creator-term-object button {
    margin-top: 36px;
}

.undertile.wide {
    float: left;
    font-size: 10px;
    line-height: 13px;
    margin-left: 4px;
    width: 100%;
}

.undertile.wide > b {
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}

.undertile.wide > p {
    line-height: 2px;
}

.aui .accordion-group.lfr-panel-extended .accordion-heading .accordion-toggle::after, .aui .accordion-group.lfr-panel-extended .accordion-heading .accordion-toggle::before {
    background-color: #a4a5a6;
    color: #fff;
    float: right;
    font-size: 18px;
    margin: 3px 5px 0 0;
    opacity: 1;
    padding: 0;
}

.title-text {
    color: #fff !important;
    float: left;
    font-size: 14px;
    margin-top: 4px;
    padding: 0 8px 4px;
    text-shadow: 1px 1px 1px #777777 !important;
}

/*Bastian Start*/

.aui .accordion {
    margin-bottom: 0px;
}

.aui .portlet-dockbar {
    display: block !important;
}

.aui h2 {
    display: none;
    font-size: 31px !important;
}

.tags {
}

.tags > span {
    float: left;
    margin: 1px;
}

.videotile.metainfolist > b {
    font-size: 12px;
    margin-right: 13px;
}

.logo {
    margin-left: 4px;
}

.aui a {
    color: #4d4d4d;
}

#term {
	float:left;
	margin-left: 0%;
	width: 68%;
	padding: 4px 0;
}

/*Bastian Ende*/

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_outerListOrder {
    width: 22px;
}
#_lgadmininstitutionmanagement_WAR_lecture2goportlet_order {
    width: 22px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_outerListStreamer {
    width: 55px;
}

#institutionSettings input{
	float:left;
	margin-right: 10px;
}

#institutionSettings button.btn {
    margin-top: 55px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_fm button {
    margin-top: 26px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_curStreamingServerProtocol {
    width: 70px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_protocol {
    width: 70px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_curStreamingServerPort {
    width: 30px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_port {
    width: 30px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_curStreamingServerIP {
    width: 165px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_ip {
    width: 165px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_curStreamingServerName {
    width: 100px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_serverroot {
    width: 100px;
}

#_lgadmininstitutionmanagement_WAR_lecture2goportlet_fm .control-group {
    float: left;
    margin: 0 10px 10px;
}

.fieldset.add-streaming-server {
    margin-top: 30px;
}

.fieldset.add-institution.add-streaming-server {
    margin-top: 10px;
}

.aui .sub-inst.accordion-group .toggler-content-expanded {
    border: 0px !important;
}

.aui .sub-inst.accordion-group .toggler-content-expanded {
    border: 0 none !important;
    margin-left: 117px;
}

.sub-inst {
    font-size: 12px;
    margin-left: 111px;
    margin-top: -10px;
}

.sub-inst .title-text {
    margin-top: -1px;
}

.sub-inst .taglib-page-iterator {
    margin-left: 10px;
}

#streamingServerSettings {
    margin-left: 112px;
    margin-top: -43px;
}

#streamingServerSettings .accordion-heading.toggler-header.toggler-header-expanded {
    margin-left: -6px;
    margin-top: 3px;
}

div#streamingServerSettings div.accordion-heading.toggler-header.toggler-header-collapsed {
    margin-left: -6px;
    margin-top: 3px;
}

.sub-inst .title-text {
    color: #444 !important;
    float: left;
    font-size: 14px;
    padding: 0 8px 4px;
    text-shadow: 0 0 0 #777777 !important;
}

.admintile.wide.icons.creators {
    float: right;
    margin-right: 8px;
    margin-top: 0;
    width: 120px;
}

.sub-inst .alert.alert-info {
    margin-left: 10px !important;
}

#_lgopenaccessvideos_WAR_lecture2goportlet_searchButton {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin: 0;
}


/*** FRONT PAGE ***/


.front-page-teaser {
	position: relative;
}

/*** front page background-video specific ***/
	
.bg-video-container {
	position: relative;
	width: 100%;
	display: inline-block;
	/* line-height 0 to avoid empty space after inline-block element */
	line-height: 0;
}

#bg-vid {
	width: 100%;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%; 
    background-color: #000000;
    opacity: .55;
}

/*** end: front page background-video specific  ***/

.l2go-info-container {
	position: absolute;
	top: 0;
	left: 15%;
    width: 70%;
    height: 100%;
}

.l2go-info {
	position: relative;
	height: 72%;
	margin-top: 10%;
}

.l2go-info > .catalogue-button {
	display: none;
}

.l2go-description {
	font-family: TheSansUHH,sans-serif;
    font-size: 14px;
	color: #fff;
	position: absolute;
    bottom: 0;
    left: 0;
}

.l2go-description a {
	color: #fff;
	text-decoration: underline;
}

.big-search {
	height: 35px;
}

.big-search > .search {
    position: relative;
    /* reset the margins */
    margin: 0 0 0 180px;
    height: 40px;
    float: none;
}

/*
.big-search > .search button {
    height: 35px;
    position: absolute;
    right: 0;
    padding: 2px;
    margin: 0;
    top: 0;
    width: 100px;
}
*/

.big-search #_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
	float:none;
	margin: 0;
	margin-left: 0;
	width: calc(100% - 12px);
	height: 25px;
	font-size: 15px;
	padding-left: 10px;	
}

.big-search .filter-facility-button {
	float: left;
	width: 180px;
	margin: 0;
	height: 100%;
	color: #000;
    /*background-color: #282828;*/
    background-color: #cac8c8;
    background-image: none;
    box-shadow: none;
    font-size: 15px;
    border-right: #777 solid 1px;
    text-shadow: none;
} 

.big-search .filter-facility-button:active,
.big-search .filter-facility-button:focus {
	color: #484848;
    background: linear-gradient(#eeeeee, #cccccc);
}



.big-search #_lgopenaccessvideos_WAR_lecture2goportlet_searchButton {
	/* add fontawesome-alloy to this font family to display the search icon */
	/*font-family: fontawesome-alloy, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	height: 35px;
    position: absolute;
    right: 0;
    padding: 2px;
    margin: 0;
    top: 0;
    width: 100px;
}

.filter-facility-menu {
	display: none;
	background-color: #d9d7d7;
	z-index: 9999;
	position: absolute;
	width: 100%;
	/* border-box keeps the correct width even with the padding */
	box-sizing: border-box;
}

.filter-facility-menu li {
	margin: 5px 0;
}

.filter-facility-menu-main {
	padding: 5px 5px 10px 20px;
	background-color: inherit;
}

.filter-facility-menu-extra {
	padding: 5px 5px 10px 20px;
	background-color: #cac8c8;
}


.l2go-info  .catalogue-button {
    height: 40px;
    color: #ffffff;
    width: 100%;
	/* ignore the padding from the parent to fill the whole space */
	width: calc(100% + 45px);
    margin: 25px 0px 0px -20px;
}

.video-box-list-container {
	width: 95%;
	margin: auto;	
}

/* this flex container with wrap is used to resize the grids, so all have the same height */
.row-fluid.video-box-list,
.row-fluid.filter-facility-menu-row { 
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:  flex;
	flex-wrap: wrap;
}

.row-fluid.video-box-list > [class*='span'] { 
	display: flex; 
	flex-direction: column;
}

.video-box { 
	position: relative;
	background-color: #f3f3f3; 
	padding: 7px; 
	cursor: pointer; 
}

.video-box:hover {
	background-color: #e9e9e9;
}


/*** carousel specific ***/

.video-box-list-container .carousel-control {
    position: absolute;
    top: 110px;
    left: -40px;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    color: #999999;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    margin: 0;
    opacity: 1;
}

.video-box-list-container .carousel-control:hover,
.video-box-list-container .carousel-control:focus,
.video-box-list-container .carousel-control:active
{
	color: #aaaaaa;
}

.video-box-list-container .carousel-control.right {
	left: auto;
    right: -40px;
}

/*** end: carousel specific  ***/

/* keep the video-box-image at 16:9 (the padding-top) */
.video-box-image {
    position: relative;
	padding-top: 56.25%;
}

.video-box-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-box-date {
	margin: 0 0 5px 0;
	/*TODO: date has been moved, update css accordingly, this is a workaround */
	display: none;
}


.video-box-content .title-small {
	font-size: 14px;
	width: 100%;
	margin: 10px 0 15px 0;
	color: #000;
}

.video-box-content .creator-small2 {
    margin: 0 0 2px 0;
    font-size: 12px;
}

.video-box-content .date {
	margin: 0 0 10px 0;
}

.video-box-content .lectureseries-small {
    margin: 0 0 25px 0;
    padding: 0;
    color: #AAA;
}

.video-box-content .label {
	position:absolute;
	bottom: 5px;
	text-overflow: ellipsis;
  	max-width: 180px;
  	overflow: hidden;

}

/* without video
.front-page-teaser {
	background-size: cover;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(/lecture2go-portlet/img/background_still.png);
	background-repeat: no-repeat;
	height: 400px;
	padding-top: 60px;
	margin-top: 0;
	position: relative;
}

*/

@media (max-width: 767px) {
	
	
	/* hide for mobile view */
    .bg-video-container,
    .big-search .filter-facility-button,
    .filter-facility-menu  {
		display: none;
	}

	/* use a background-image and no video on mobile devices */
    .front-page-teaser {
		background-size: cover;
		background-image: linear-gradient(
	      rgba(0, 0, 0, 0.6), 
	      rgba(0, 0, 0, 0.6)
	    ),
	    url(/lecture2go-portlet/img/background_still.png);
		background-repeat: no-repeat;
		height: 250px;
		padding-top: 60px;
		margin-top: 0;
		position: relative;
	}

    .l2go-info-container {
      	left:5%;
      	width:90%;
      	top: 5%;
    }

    .l2go-info .catalogue-button {
		display: block;
		position: absolute;
		left: 20%;
		width: 60%;
		margin: auto;
		/* reduce the padding to give the text more place in small views */
		padding: 0;
	}

	.video-box-list-container {
		width: 100%;
		margin: 0;
	}

	.row-fluid.video-box-list > [class*='span'] { 
		flex-direction: row; 
	}

	.video-box {
		padding: 5px;
		margin-bottom: 5px;
	}
	
	.video-box-content .title-small {
		font-size: 12px;
		width: 100%;
		margin: 3px;
		color: #000;
	}

	.video-box-date {
		display: block;
		/* change the flexbox order */
		order: 99;
		/* center vertically */
		transform: translateY(50%);
	}

	.video-box-image-container { 
  		flex: 0 0 113px;
  		margin-right: 7px;
	}

	.video-box-content {
		font-size: 11px;
		/* the video-box-content takes all the leftover space between the video-box-image and the video-box-date */
		flex-grow: 1;
	}

	.video-box-content .creator-small2 {
		display:block;
		font-size: 11px;
	}	

	.video-box-content .lectureseries-small {
	    padding: 0;
	}

	.video-box-date .date {
	    font-size: 11px;
	}

    #banner .meta {
	    display: block;
	}
}

/*** END FRONT PAGE ***/
