@import "variables";

@media (max-width: 767px) {	
	 
	#heading .meta {
	    display: none;
	    visibility: hidden;
	}
	
	.span3 .accordion-inner li {
	    font-size: 14px;
	    min-height: 38px;
	    line-height: 38px;
	}

	#loadMoreTerms, #loadMoreCreators {
	    color: #c90219;
	    cursor: pointer;
	    font-size: 14px;
	    height: 38px;
	    line-height: 38px;
	    margin-left: 28px;
	}

	.aui .accordion {
	    margin-bottom: 7px;
	}
	
	#wrapper {
	    padding: 0;
	    width: 100%
	}

	.aui #navigation .nav .dropdown-menu > li a:hover {
	    background: transparent none repeat scroll 0 0 !important;
	}

	.aui #navigation .nav .dropdown-menu > li:hover {
    	background: #e3e3e3 none repeat scroll 0 0!important;
	}
	
	.aui #navigation .nav .dropdown-menu > li {
		margin: 0 1px 1px 0;
	
    	/*padding-left: 30px;*/
	}   

	.aui #navigation .nav .dropdown-menu > li a {
    	background: rgba(0,0,0,0) linear-gradient(180deg,#f3f3f3 0,#f3f3f3 100%) repeat scroll 0 0 !important;
    	line-height: 29px;
    	font-size: 14px;
    	padding-left: 60px;
	}
	.aui #navigation .navbar-inner li.has-child a {
		height: 38px;
	}
	
	
	
	.aui .portlet-borderless-container {
    	padding: 0;
	}

	.columns-1 {
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.responsive_li_item a:hover {
	    background: transparent none repeat scroll 0 0 !important;
	    color: #444 !important;
	    height: 33px;
	}
	
	.aui #navigation .nav li.active.has-child > a {
	    background: #e40613 url("/lecture2go-portlet/img/pfeil-weiss-unten.png") no-repeat scroll 15px 13px;
	    color: #fff;
	    height: 35px;
	    padding-left: 30px;
	    padding-top: 3px;
	}

	.aui #navigation .nav li.active.has-child > a:hover {
	    background: #e40613 url("/lecture2go-portlet/img/pfeil-weiss-unten.png") no-repeat scroll 15px 13px !important;
	}

	.title-text {
	    margin-top: 8px;
	}
	
	.aui .accordion-group.lfr-panel-extended .accordion-heading .accordion-toggle::after, .aui .accordion-group.lfr-panel-extended .accordion-heading .accordion-toggle::before {
	    margin: 9px 5px 0 0;
	}
	
	.aui .accordion-group.lfr-panel-extended .accordion-heading {
	    height: 38px;
	}

	.aui #navigation .nav li.lfr-nav-item.dropdown.has-child {
	    background: #f3f3f3 url("/lecture2go-portlet/img/pfeil-schwarz-unten.png") no-repeat scroll 15px 13px !important;
	}

	.aui #navigation .nav li.lfr-nav-item.dropdown.has-child:hover {
	    background: #f3f3f3 url("/lecture2go-portlet/img/pfeil-schwarz-unten.png") no-repeat scroll 15px 13px !important;
	}
		
	.responsive_li_item.selected {
	    background: #e3e3e3 none repeat scroll 0 0 !important;
	    padding-left: 30px;
	    width: 100%;
	}
	
	.dropdown-menu.child-menu {
	    display: block !important;
	    width: 100% !important;
	   	background: rgba(0,0,0,0) linear-gradient(180deg,#f3f3f3 0,#f3f3f3 100%) repeat scroll 0 0 !important;
	   	border: none !important;
	   	margin: 0 1px 1px 0 !important;
	}
	
	.aui #navigation .nav li.open > a {
	    background-color: #d81b1b;
	    background-image: linear-gradient(180deg, #e5331c 0%, #c90219 100%);
	    border-radius: 0;
	    color: #fff;
	    height: 38px;
	    padding-left: 30px;
	    padding-top: 3px;
	}
	
	.aui #navigation .nav li.open.has-child > a {
	    background: #e40613 url("/lecture2go-portlet/img/pfeil-schwarz-unten.png") no-repeat scroll 15px 13px !important;
	}
	
	.aui #navigation .nav li.open > a {
	    background-color: #d81b1b;
	    background-image: linear-gradient(180deg, #e5331c 0%, #c90219 100%);
	    border-radius: 0;
	    color: #fff;
	    height: 38px;
	    padding-left: 30px;
	    padding-top: 3px;
	}
	
	
	.aui #navigation .nav li.has-child {
    	height: auto;
	}

	.responsive_li_item:hover {
   	 	background: #e3e3e3 none repeat scroll 0 0 !important;
   	 	height: 33px;
	}
	
	.aui .btn [class^="icon-"], .aui .btn [class*=" icon-"] {
    	margin-top: -1px;
	}

	.aui .dockbar-split .dockbar .navbar-inner .btn-navbar, .aui .dockbar .navbar-inner .btn-navbar {
    	background: #fff none repeat scroll 0 0 !important;
    	margin: 0;
    	padding-top: 6px !important;
	}

	.aui #navigation li .dropdown-toggle:hover {
	    background: #e40613 url("/lecture2go-portlet/img/pfeil-schwarz-unten.png") no-repeat scroll 15px 13px !important;
	    border: 0 none;
	}

	.aui #navigation .nav .dropdown-menu > li {
	    margin: 0;
	    padding: 0;
	    width: 50%;
	}

	.aui #navigation .nav .dropdown-menu > li {
	    margin: 0;
	    padding: 0;
	    width: 50%;
	}
	
	#_145_navAccountControlsNavbarBtn {
		display: none;
	}
	
	.navbar .container .btn-navbar {
	    margin-bottom: 0;
	}	
	
	.aui .dockbar-split .dockbar .navbar-inner .btn-navbar:hover, .aui .dockbar .navbar-inner .btn-navbar {
    	background-color: #444444;
	}
	
	.aui .dockbar .navbar-inner .container .btn-navbar .user-avatar-image {
	    top: 0;
	}
	
	.aui #navigation .nav li.active > a {
	    background-color: #d81b1b;
	    background-image: linear-gradient(180deg, #e40613 0%, #e40613 100%);
	    color: #fff;
	    height: 38px;
	    padding-left: 30px;
	    padding-top: 3px;
	}

	.user-avatar-image {
	    margin-top: 0 !important;
	    padding: 0;
	    width: 22px !important;
	}
	
	.aui .navbar-inner::before, .aui .navbar-inner::after {
	    float: left;
	}
	
	element.style {
	    width: 100%;
	}
	
	.aui #navigation .nav .dropdown-menu {
	    background-color: transparent;
	}
	
	.aui .dockbar-split .dockbar .navbar-inner {
	    background: #fff none repeat scroll 0 0;
	}

	.navbar-inner {
	    background: #fff none repeat scroll 0 0 !important;
	}
	
	.aui #navigation .navbar-inner li a {
	    color: #444;
	    font-weight: normal;
	    padding-left: 30px;
	    padding-top: 3px;
	}

	.aui .dockbar.navbar .navbar-inner {
    	min-height: 0;
	}
	
	.aui .dockbar .navbar-inner .container .btn-navbar {
    	color: #444;
	}
	
	.responsive_li_item {
	    display: block;
	    font-family: $font-default !important;
	    padding-left: 0;
	    visibility: visible;
	}
	
	.aui #navigation .nav li,
	.aui #navigation .nav li ul.dropdown-menu.child-menu li {
	    background: rgba(0, 0, 0, 0) linear-gradient(180deg, #f3f3f3 0%, #f3f3f3 100%) repeat scroll 0 0;
	    border-radius: 0;
	    height: 38px;
	    line-height: 31px;
	    margin: 0 1px 1px 0;
	    text-align: left;
	    width: 100%;
	}
	
	.aui #navigation {
    	visibility: visible;
   	 	width: 100%;
	}
	
	.responsive_li_item.lfr-nav-item {
	    padding-left: 30px;
	    width: 100%;
	}
	
	.aui #navigation.open .navbar-inner {
		border-radius: 0;
	}
	
	.aui .dockbar-split .dockbar, .aui .dockbar {
	    display: block;
	    float: right;
	    margin-right: -2px;
	    margin-top: 40px;
	    z-index: 401;
	}
	
	.user-avatar-image {
    	display: none;
	}
	
	.filter-menu-link {
	    line-height: 18px;
	    margin-left: 5px;
	    padding: 9px 2px;
	}
	
	
	div.filter-menu-link span.icon-large.icon-remove {
    	margin-top: 0;
	}
	
	.aui .accordion-group.lfr-panel .accordion-heading {
	    height: 38px;
	}
	
	.aui .accordion-group.lfr-panel .accordion-heading .accordion-toggle::after, .aui .accordion-group.lfr-panel .accordion-heading .accordion-toggle::before {
	    margin: 8px 5px 0 0;
	}
	
}