.yui3-aclist-content {
    width: 332px;
}

input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    width: 300px;
}

.view-960 #banner {
	background: url("/lecture2go-theme/images/logo_l2go.png") no-repeat scroll right 0 top 0 rgba(0, 0, 0, 0);
}

.taglib-page-iterator .lfr-pagination-buttons {
    visibility: hidden;
	padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.view-720 .taglib-page-iterator .lfr-pagination-buttons {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.view-320 .taglib-page-iterator .lfr-pagination-buttons {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.view-720 .row-fluid .span3 {
    margin: 0px;
    padding: 0px;
    float: left;
}

.view-720 .row-fluid .span9 {
    padding: 0px;
    margin: 0px;
    float: left;
    margin-left: 14px;
}


.view-480 .row-fluid .span3 {
    width: 100%;
}

.view-480 .row-fluid .span9 {
    width: 100%;
}

.view-480 .taglib-page-iterator {
    clear: both;
    height: auto;
    overflow: hidden;
    width: auto;
    height: 49px;
}

.view-960 input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    width: 320px;
    float: right;
}

.view-720 input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    width: 320px;
    float: right;
}

.view-480 input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    width: 320px;
    margin: 0;
}

.view-320 input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    width: 237px;
    margin: 0;
}

.view-320 .yui3-aclist-content {
    width: 249px;
}