.yui3-aclist-content {
    width: 332px;
}

input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    width: 320px;
    margin:0px;
}

.view-960 #banner {
	background: url("/lecture2go-theme/images/logo_l2go.png") no-repeat scroll right 0 top 0 rgba(0, 0, 0, 0);
}

.taglib-page-iterator .lfr-pagination-buttons {
    visibility: hidden;
	padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.view-720 .taglib-page-iterator .lfr-pagination-buttons {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.view-320 .taglib-page-iterator .lfr-pagination-buttons {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.view-720 .row-fluid .span3 {
    margin: 0px;
    padding: 0px;
    float: left;
}

.view-480 .row-fluid .span3 {
    width: 100%;
}

.view-480 .row-fluid .span9 {
    width: 100%;
}

.view-480 .taglib-page-iterator {
    clear: both;
    height: auto;
    overflow: hidden;
    width: auto;
    height: 49px;
}

.view-960 input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    width: 320px;
    float: right;
    margin:0px;
}

.view-720 input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    width: 320px;
    float: right;
    margin:0px;
}

.view-480 input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    width: 320px;
    margin: 0;
}

.view-320 input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
    width: 237px;
    margin: 0;
}

.view-320 .yui3-aclist-content {
    width: 249px;
}

.allcreators {
	font-size: smaller;
}

#myToggler .toggler-header-collapsed:hover .video-image-overlay, #myToggler .toggler-header-collapsed:hover .tri, #myToggler .toggler-header-expanded .video-image-overlay, #myToggler .toggler-header-expanded .tri {
    visibility: visible;
}

.layered-paper {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 8px 0px -5px #666, 0px 8px 1px -4px rgba(0, 0, 0, 0.15), 0px 15px 0px -10px #BBB, 0px 15px 1px -9px rgba(0, 0, 0, 0.15);
}

.video-image-wrapper {
    margin-right: 8px;
    float: left;
    max-width: 250px;
    height: 110px;
}

.video-image-big {
    position: relative;
    width: 200px;
    height: 100px !important;
    text-align: center;
}

.video-image-overlay {
    left: 10px;
    position: absolute;
    top: 10px;
    background-color: #C40017;
    color: #FFF;
    margin-left: 7px;
    visibility: hidden;
}

#video-list .list-group-item:hover .overlay {
  position: absolute; 
  top: 8px; 
  width: 200px; 
  height: 100px; 
  background-color: 
  #000000; 
  opacity: .1;
  z-index: 95;
}

#video-list .list-group-item:hover .overlay-small {
  position: absolute; 
  top: 5px; 
  width: 60px; 
  height: 30px; 
  background-color: 
  #000000; 
  opacity: .1;
  z-index: 95;
}

.video-image-wrapper-small {
    margin-right: 8px;
    float: left;
    max-width: 60px;
    height: 30px;
}

.video-image-wrapper-small.related {
    max-width: 113px;
    height: 57px;
}

.metainfo-small {
    margin-left: 67px;
}

.metainfo-small.related {
    margin-left: 67px;
}

.metainfo-wide {
    width: 100%;
}

.metainfo {
    width: 70%;
}

.meta-description {
    width: 100%;
}

.path{
	width: 70%;
}

.path-wide{
	width: 100%;
}

.meta-video-info{
	width: 70%;
}

.meta-video-info-wide{
	width: 100%;
}

.list-group.toggler-content-collapsed.content > li {
    border: 0px solid;
    background-color: transparent;
    border-left: 3px solid #D81B1B;
}

.creator-small2 {
    font-size: 11px;
    font-style: normal !important;
}

.creator-small2.related {
    font-size: 13px;
}

.video-image {
    position: relative;
    width: 60px;
    max-height: 37px !important;
    margin-left: 2px;
}

.video-image.related{
    width: 113px;
    height: 55px !important;
}

.videotile {
    border: 0px solid #000;
    border-radius: 0px;
    height: auto;
    padding: 0px;
}

.videotile.wide {
    width: 100%;
    height: 120px;
    background-color: #F3F3F3;
    padding: 8px 0px 0px 8px;
}

.videotile.wide:hover {
    background-color: #EAEAEA !important;
}

.videotile.small:hover {
    background-color: #EAEAEA !important;
}

.videotile.small.related {
    list-style: outside none none !important;
    padding: 0px !important;
    height: auto;
    line-height: 15px;
    min-height: 70px;
}

#video-list .list-group-item {
    position: relative;
    display: block;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
    height: 118px;
}

#video-list .list-group-item:hover {
    text-decoration: none;
    background-color: #F9F9F9;
}

#video-list .sublist2 {
    margin-top: 0px;
    margin-bottom: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

#videoscount {
    font-size: 11px;
    float: right;
    padding: 0px;
    color: #E2001A;
}

#searchedvideos {
    margin-left: 60px;
    background-color: #F3F3F3;
    margin-top: 0px;
    border-bottom: 1px solid #F3F3F3 !important;
}

#searchedvideos > button {
    float: right;
    margin-top: -25px;
    margin-right: 3px;
    background-color: transparent;
    border: medium none;
}

#searchedvideo {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: small;
    width: 40em;
}

.view-720 #searchedvideo {
    width: 30em;
}

.view-480 #searchedvideo {
    width: 20em;
}

.view-320 #searchedvideo {
    width: 10em;
}

a.list-group-item:hover, a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #F5F5F5;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.aui ul, .aui ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.search {
    margin-top: -30px;
}

#_lgopenaccessvideos_WAR_lecture2goportlet_lectureseriesesSearchContainer_col-1 {
    padding: 0px;
    margin: 0px;
}

#loadMoreTerms, #loadMoreCreators {
    cursor: pointer;
    margin-left: 15px;
    color: rgb(249, 14, 14);
}

.aui .accordion-inner {
    padding: 0px;
    border-top: 1px solid #E5E5E5;
}


.aui .accordion-group.lfr-panel-extended .accordion-heading .accordion-toggle {
    padding: 4px 4px 5px 10px;
    background-color: #E3E3E3;
    font-weight: initial;
    color: black;
}

.aui #my-tab-content {
    min-height: auto;
}

#term {
    font-size: smaller;
    margin-left: 101%;
    width: 100px;
}

thead, th {
    display: none;
}

.aui .table {
    border-radius: 0px;
}

.aui .accordion-group.lfr-panel-extended {
    border-width: 1px;
    border-radius: 0px;
}

.aui .btn-group > .btn:first-child {
	border-radius: 0px;
}

.aui #navigation .nav li.active > a {
    border-radius: 0px;
}

.aui .btn {
    background-image: linear-gradient(to bottom, rgb(227, 227, 227), rgb(227, 227, 227));
    border-width: 0px;
    margin-right: 10px;
    border-radius: 0px;
}

.aui .dropdown-menu {
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

.aui .thumbnail {
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #DDD;
    border-radius: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
    height: 150px;
    width: 250px;
    float: left;
}

.badge {
    float: right;
    margin-right: 15px;
}

.title-small {
    font-weight: 400 !important;
    font-size: 13px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 17px;
    width: 50%;
    color: initial;
}

.title-small.related {
    width: 100%;
}

.play-small {
  left: 26px;
  position:absolute;
  top: 11px;
  width: 100%;
  font-size:20px;
  color:#fff; 
  text-shadow: 1px 1px #ff0000; 
  opacity: 0.7;
}

.play-big {
    left: 100px;
    position:absolute;
    top: 30px;
    width: 100%;
    font-size:50px;
    color:#fff; 
    text-shadow: 1px 1px #ff0000; 
    opacity: 0.7;
}

.player-wide {
    width: 100%;
}

.player {
    width: 70%;
}

.aui .label {
    border-radius: 0px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 9.844px;
    line-height: 14px;
    color: #AAA;
    vertical-align: baseline;
    white-space: nowrap;
    border: 1px solid #AAA !important;
    background: transparent;
    text-shadow: none;
    padding: 2px 4px 0px !important;
    font-weight: 100;
}

.aui .table td {
    background-color: #FFF !important;
}

.aui .table-bordered th, .aui .table-bordered td {
    border-left: 0px solid #FFF;
}

.aui .table th, .aui .table td {
    margin: 0px;
    border-bottom: 0px solid #FFF;
    border-top: 0px none;
    padding: 0px 0px 7px 0px;
}

.aui .table {
    border-radius: 0px;
    border: 0px;
}

.placeholder {
    border: 0px none !important;
    background-color: #E0E0E0 !important;
    list-style: outside none none;
    height: 1px;
}

.aui a:hover {
    text-decoration: none !important;
}

.filter-menu-link {
    margin-left: 10px;
}

.filter-menu {
    border-bottom: 1px solid #E0E0E0 !important;
}

.generation-date {
    float: right;
    margin-right: 2%;
}

.duration {
    float: right;
    margin-right: 26%;
}

.lectureseries-title {
    color: initial;
}

.title-text {
    color: black !important;
    font-size: 15px;
}

.related-lectureseries-name {
	margin-bottom: 10px;
}

.col-md-5 {
    top: 10px;
    right: 0%;
    width: 28%;
    position: absolute;
}

.label.label-light {
    float: right;
    height: 16px;
    margin-right: 5px;
}

.license > a > img {
    height: 20px;
    float: right;
}

.meta-title {
    margin-top: 23px;
}

.meta-description {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 7px;
}

.col-md-7 {
    margin-top: 10px;
}

.date.related {
    font-size: 10px;
}