@media (min-width: 480px) and (max-width: 719px) {
	.noresponsive{
		display:none;
	}
	
	.sharetile {
	    width: 131px;
	}
	
	.admintile.wide.icons {
		visibility: hidden;
		display: none;
	}
	
	.admintile.wide {
	    margin: 0 -9px 0 3px;
	    width: 100%;
	}
	   
	.video-image-wrapper {
	    /* float: none; */
	    height: 110px;
	    margin-right: 8px;
	    /* max-width: 250px; */
	}
	
	.add-link {
		visibility: hidden;
		display: none;
	}
	
	.col-md-5 {
	    right: 0;
	    position: relative;
	    width: 100%;
	}
	
	.player {
	    width: 100%;
	}
	
	.meta-video-info {
	    width: 100%;
	}
	
	#qr {
	    display: none;
	    visibility: hidden;
	}
	
	.aui #my-tab-content {
	    min-height: auto;
	    width: 500px;
	}
	
	.path {
	    display: none;
	    visibility: hidden;
	}
	
	
	.path-wide {
	    display: none;
	    visibility: hidden;
	}
	
	.metainfo {
	    width: 100%;
	}
	
	#tabs > li#down {
	    display: none;
	    visibility: hidden;
	}
	
	.row-fluid .span3 {
	    width: 100%;
	}
	
	.row-fluid .span9 {
	    width: 100%;
	}
	
	.taglib-page-iterator {
	    clear: both;
	    height: auto;
	    overflow: hidden;
	    width: auto;
	    height: 49px;
	}
	
	.meta-description {
	    display: none;
	}
	
	#searchedvideo {
	    width: 20em;
	}
	
	.label.label-light {
	    display: none;
	}
	
	.license {
	    display: none;
	}
	
	.add-new-creator-term-object {
	    display: none;
	    visibility: hidden;
	}
	
	#metadata input {
	    width: 100%;
	}
	
	.row-fluid .span9 {
	    float: left;
	    width: 100%;
	}
	
	#banner {
	    background: rgba(0, 0, 0, 0) url("") no-repeat scroll right 0 top 0 / 130px auto;
	    margin-right: -6px;
	} 
	
	input#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
	    float: left;
	    margin: 24px 0 4px;
	    width: 99.8%;
	    height: 24px;
	}
	
	.aui #navigation.open .navbar-inner {
    	border-radius: 0;
    	padding: 0 5px 0 1px;
	}
	
	.meta-title {
    	font-size: 15px;
    	font-weight: 900;
    	line-height: 17px;
	}
	.aui .dockbar-split .dockbar, .aui .dockbar {
    	margin-right: 14px;
	}
}