@media (max-width: 767px) {
	.noresponsive{
		display:none;
	}
	
	.btn.maindelete {
	    margin-top: -42px !important;
	    margin-left: 67px !important;
	    float: left !important;
	    position: absolute !important;
	}

	.aui .site-title .site-name {
		margin-top: 0;
	}
	
	.aui #footer {
    	padding: 0 9px 0;
    	width: 100%;
	}

	.aui .accordion-group.lfr-panel-extended {
	    padding-bottom: 0;
	}
	
	.row-fluid.video-box-list .span3.video-box {
  		width: 100%; 
  	}
  	
	.aui #my-tab-content {
    	min-height: auto;
    	width: 100%;
	}

	.date.related {
	    right: 5px;
	}
	
	generation-date {
		display: block;
	}

	.metainfo-small.related {
	    display: block;
	    margin-top: 2px;
	    width: 79%;
	}
	
	.videotile.small.related {
    	padding: 3px 3px 15px;
	}
	
	.sharetile {
	    width: 30%;
	}
	
	.admintile.wide.icons {
		visibility: hidden;
		display: none;
	}
	
	#metadata {
	    width: 100%;
	}
	
	.admintile.wide {
	    margin: 0 -9px 0 3px;
	    width: 100%;
	}
	   
	.video-image-wrapper {
	    /* float: none; */
	    margin-right: 8px;
        -webkit-box-flex: 0 0 150px;
  		-moz-box-flex: 0 0 150px;
  		-webkit-flex: 0 0 150px;
  		-ms-flex: 0 0 150px;
    	flex: 0 0 150px;
	}
	
	.video-image-wrapper-small.related {
		-webkit-box-flex: 0 0 18%;
  		-moz-box-flex: 0 0 18%;
  		-webkit-flex: 0 0 18%;
  		-ms-flex: 0 0 18%;
    	flex: 0 0 18%;
	}
	
	.add-link {
		visibility: hidden;
		display: none;
	}
	
	.col-md-5 {
		float: none;
	    margin-top: auto;
	}
	
	.player {
	    width: 100%;
	}
	
	.meta-video-info {
	    width: 100%;
	}
	
	#qr {
	    display: none;
	    visibility: hidden;
	}
	
	.path {
	    display: none;
	    visibility: hidden;
	}
	
	
	.path-wide {
	    display: none;
	    visibility: hidden;
	}
	
	.metainfo {
	    width: 100%;
	}
	
	/*
	#tabs > li#down {
	    display: none;
	    visibility: hidden;
	}
	*/
	
	.catalogue-container .row-fluid .span3 {
	    width: 100%;
	}
	
	.meta-description {
	    display: none;
	}
	
	#searchedvideo {
	    width: 20em;
	}
	
	.label.label-light {
	    display: none;
	}
	
	.license {
	    display: none;
	}
	
	.aui .pager li > a, .aui .pager li > span {
	    padding: 10px;
	}

	.add-new-creator-term-object {
	    display: none;
	    visibility: hidden;
	}
	
	.catalogue-container .row-fluid .span9 {
	    float: left;
	    width: 100%;
	}
	
	#banner {
	    background: rgba(0, 0, 0, 0) url("") no-repeat scroll right 0 top 0 / 130px auto;
	}
	
	.meta-title {
    	font-size: 15px;
    	line-height: 17px;
	}
	
	.related-lectureseries-name {
    	margin-top: 15px;
	}
	
	/* Catalog */
	h2.lectureseries-title {
		font-size: 14px;
		/*height: 60px; */
		margin-bottom: 5px;
	}
	
	.allcreators {
	    font-size: 11px;
	}
	
	.term-of-creation {
		margin: 0px 10px;
	}
	
	.title-small.related {
	    font-size: 14px;
	    width: 80%;
	}

	#front-page-content {
	    margin-top: 0px;
	}
	
	.video-image.related {
	    width: 19%;
	}
	
	
	.videotile.wide {
		height: 98px;
	}
	
	/* Bastian */
	
	.aui .table th, .aui .table td {
    	line-height: 19px;
	}
	
	.aui .row-fluid [class*="span"] {
    margin-left: 0% !important;
	}
	
	.label {
		float: left;
	}

	
	.video-image-big {
		width: 150px;
		height: 84px !important;
	}
	
	.aui .label {
    	margin: 1px 1px 0 0;
    	line-height: 15px;
	    font-size: 10px;
	    height: 15px;
	}
	
	.aui .site-title .l2go-logo {
	    position: absolute;
	    right: 21px;
	    /*width: 71px !important;*/
	}	
	/* Bastian Ende */
	
	
	
	
	
	/*** FROM view720 ***/
	.admintile.wide {
	    margin: 0 -9px 0 3px;
	    width: 100%;
	}
	
	img.imgsmall {
	    border: 0 none;
	    height: auto;
	    padding-bottom: 7px;
	    vertical-align: middle;
	    width: 65px;
	    height: 40px;
	}
	
	.add-new-creator-term-object {
	    display: none;
	    visibility: hidden;
	}
	
	.aui .logo, .aui .logo:hover {
	    color: #333;
	    height: 46px;
	    line-height: 20px;
	    width: 156px;
	}
	
	.layered-paper {
    	box-shadow: 3px 3px 0 0 #999999, 6px 6px 0 0 #ffffff;
	}
	
	.video-content-footer {
    	margin-bottom: 2px;
	}
	
	/**** FRONTPAGE ***/
	
	
	/* hide for mobile view */
    .bg-video-container,
	{
		display: none;
	}

	/* use a background-image and no video on mobile devices */
    .front-page-teaser {
		background-size: cover;
		background-image: linear-gradient(
	      rgba(0, 0, 0, 0.6), 
	      rgba(0, 0, 0, 0.6)
	    ),
	    url(/lecture2go-portlet/img/background_still.jpg);
		background-repeat: no-repeat;
		height: 190px;
		padding-top: 60px;
		margin-top: 0;
		position: relative;
	}

    .l2go-info-container {
      	left:5%;
      	width:90%;
      	top: 5%;
    }
    
    .l2go-info {
    	margin-top: 0;
    }
    
    .l2go-title {
    	font-size: 34px;
    	line-height: 40px;
    }
    
    .l2go-subtitle {
    	font-size: 14px;
    }

/*
    .l2go-info .catalogue-button {
		display: block;
		position: absolute;
		left: 20%;
		width: 60%;
		margin: auto;
		/* reduce the padding to give the text more place in small views 
		padding: 0;
	}
	*/
	
	.big-search {
		display: none;
	}
	.video-box-list-container {
		width: 100%;
		margin: 0;
	}

	.row-fluid.video-box-list{
		display: table;
	}
	
	.row-fluid.video-box-list > [class*='span'] { 
		-webkit-box-orient: horizontal;
 		-webkit-flex-direction: row;
		flex-direction: row;
		width: 100%;
	}

	.video-box {
		padding: 5px;
		margin-bottom: 5px;
		height: auto;
	}
	
	.video-box-content h3.title-small {
		width: 100%;
		margin: 0;
		color: #000;
		height: auto;
		padding-top: 0;
	}
	
	.video-box-content .label {
		position: relative;
		bottom: 0;
	}

	.video-box-image-container {
	    -webkit-box-flex: 0 0 113px;
  		-moz-box-flex: 0 0 113px;    
  		-webkit-flex: 0 0 113px;
  		-ms-flex: 0 0 113px;  
  		flex: 0 0 113px;
  		margin-right: 7px;
	}

	.video-box-content {
		line-height: 20px;
		font-size: 11px;
		/* the video-box-content takes all the leftover space */
		-webkit-box-flex: 1;     
  		-moz-box-flex: 1;         
  		-webkit-flex: 1;
  		-ms-flex: 1;  
  		flex: 1;
		padding: 0;
	}

	.video-box-content .creator-small2 {
		display:block;
		height: auto;
	}	

	.video-box-content .lectureseries-small {
	    padding: 0;
	    height: auto;
	}

	
	/*** END FRONTPAGE***/
	
	
	
	
	/* needed ??
	.catalogue-container .row-fluid .span9 {
	    float: left;
	}
	
	
	*/
	
	
	/* from 960px translated, check if correct */
	
	#main-content,
	.catalogue-container {
	    margin-top: 0px;
	}
	
	responsive_li_item {
		display: block;
	}

	.related {
	    margin-left: auto;
	    width: 100%;
	}
	
	#content{
		margin-left: 0px;
    	margin-right: 0px;
    	margin-top: 0px;
	}
	.columns-1 {
	    padding-bottom: 10px;
	}
	
	.aui .container-fluid::before, 
	.aui .container-fluid::after {
	    padding: 0;
	}
	
	#banner .meta {
	    top: 3px;
    	right: 5px;
	}
	
	#banner .meta a:not(.language) {
		display: none;
	}

	#_lgopenaccessvideos_WAR_lecture2goportlet_searchButton {
	    height: 31px;
	    padding: 2px;
	    right: 6px;
	    top: 14px;
	    width: 31px;
	}

	#_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery {
	    float: left;
	    font-size: 14px;
	    height: 25px;
	    margin-left: 3px !important;
	    max-width: inherit !important;
	    padding-bottom: 4px;
	    padding-top: 4px;
	    position: relative;
	    width: calc(100% - 14px) !important;
	}

	#_lgopenaccessvideos_WAR_lecture2goportlet_fm input[type="text"] {
	    margin-left: 0;
	    padding-left: 5px;
	    padding-right: 0;
	    width: calc(100% - 5px);
	}

	#breadcrumbs {
		display: none;
	}
	
	.l2go-contact {
    	width: 50%;
	}
	
	.l2go-contact .portlet-borderless-container {
    	border: none;
	}
	
	.l2go-contact h1, .l2go-contact h2, .l2go-contact h3, .l2go-contact h4 {
    	box-shadow: none;
    	border: none;
    	border-bottom: 1px solid #E0E0E0;
    	font-size: 15px;
	}
	
	/** UHH FOOTER START**/
	#fuss ul + ul + ul + ul + ul {
	    border-bottom: 1px solid #dddddd;
	    clear: left;
	    font-size: 0;
	    left: 0;
	    padding: 8px 38px;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    top: 0;
	    width: auto;
	}	
	#fuss ul {
	    padding: 18px 2px 24px;
	    width: 25%;
	}
	#fuss .audit, #fuss .audit1 {
	    display: none;
	}
	#fuss ul + ul + ul + ul + ul li {
	    margin: 0 17px 0 0;
	}
	#fuss ul + ul + ul + ul + ul li {
	    border-radius: 17px;
	    display: inline-block;
	    height: 33px;
	    overflow: hidden;
	    vertical-align: top;
	    width: 33px;
	}	
	#fuss .copyright{
		display:none;
	}
	#fuss strong.uhh{
		display: none;
	}
	#fuss a.facebook {
	    background-image: url("https://www.uni-hamburg.de/assets/fb-63f8506de40909f714d00000b3b4543d1fcf72bc1bbbc7e25910513ef5070047.png");
	}	
	#fuss a.twitter {
	    background-image: url("https://www.uni-hamburg.de/assets/twitter-4ce5382abe249c676a87d9f120803f550abffd2270482466c2a254fe3c4f8554.png");
	}
	#fuss a.instagram {
	    background-image: url("https://www.uni-hamburg.de/assets/instagram-m-7dadc7d5277564e45148b7220e37563f4ac904bf62377a53d5de8ff653515aa7.png");
	}
	#fuss a.youtube {
	    background-image: url("https://www.uni-hamburg.de/assets/youtube-m-4547468dc550abada216f5ffc6690dd50ed1060665e0cfd2a1e9994bd031e991.png");
	    background-size: cover;
	}
	#fuss a.lecture2go {
	    background-image: url("https://www.uni-hamburg.de/assets/l2go-9436c3aa7ed78acd2aac5793e9613519704479b95bada71dbeada2157618566d.png");
	}
	#fuss a.podcast {
	    background-image: url("https://www.uni-hamburg.de/assets/podcast-a56a4f51cda9b112e2091e0f758b6d2f17aa8ba66a8dd43d412c30b375495abd.png");
	}
	#fuss a.uhh-app {
	    background-image: url("https://www.uni-hamburg.de/assets/app-bfe39ecbd37cee5370096eda9526d866dc41175886d9c3cb7481a09b6b1f1f8e.png");
	}
	#fuss a.icon {
	    display: block;
	    height: 33px;
	    padding: 0;
	    width: 33px;
	}
	.aui #footer{
		padding: 0px;
		margin: 0px;
	}
	#footer .right {
		float: left !important;
   		margin-left: 10px;
    	font-size: 13px;
    	text-align: left;
	}
	#footer #fuss {
	    margin-top: 0px;
	    
	}
	#seiteninfo2{
		display: inline-block;
	    background-color: #444444;
	    border-bottom: 1px solid #666666;
	    overflow: hidden;
	    padding: 20px 25px 16px;
	    width: 100%;
	}
	#seiteninfo2 .blaettern .feedback, #seiteninfo2 .blaettern .impressum {
	    clear: left;
	    color: #ffffff;
	    display: block;
	    float: left;
	    font-size: 12px;
	    line-height: 26px;
	}
	#scrollTopButton {
	    background-color: #f9f9f9;
	    background-image: url("/lecture2go-theme/images/arrow_up.svg");
	    background-repeat: no-repeat;
	    bottom: -2px;
	    cursor: pointer;
	    display: block;
	    float: right;
	    height: 45px;
	    margin-bottom: -14px;
	    margin-right: -24px;
	    position: relative;
	    width: 45px;
	    z-index: 100;
	}
	/**UHH FOOTER END**/
	.l2go-contact h1, .l2go-contact h2, .l2go-contact h3, .l2go-contact h4 {
	    margin-bottom: 10px;
	    padding: 6px 0 5px;
	}
	.portlet-borderless-container .l2go-contact {
	    border: 0;
	}
	.l2go-contact {
	    width: 100%;
	}
	.l2go-contact p {
	    padding: 0px;
	}
	.columns-2{
		margin: 10px
	}
	.aui .pager li > a, .aui .pager li > span {
	    padding: 10px !important;
	}
	.taglib-page-iterator {
	    margin-bottom: 3px;
	    margin-top: 17px;
	}
	#wrapper {
	    padding: 0;
	    margin: 0;
	    width: 97%;
	}	
	.aui .dockbar-split .dockbar, .aui .dockbar {
	    margin-right: 2px !important;
	}
	.aui #navigation.open .navbar-inner {
    	padding: 0 !important;
	}
	
}
