<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	
	<script src="$javascript_folder/jquery-2.1.4.min.js"></script>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	
	$theme.include($top_head_include)
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#dockbar()

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">
		<div class="meta">
			#if (!$is_signed_in)
				<a href="$sign_in_url">$sign_in_text</a> 
				&nbsp;&nbsp;&nbsp;
				#foreach( $language in $languageUtil.getAvailableLocales() )
					<a href="/$language.getLanguage()/web$themeDisplay.getLayout().getGroup().getFriendlyURL()">$language.getLanguage()</a>
					#if( $velocityHasNext )&nbsp;|&nbsp;#end
				#end
			#else
				<a href="#" onclick="window.open('$my_account_url', '_blank', 'height=700px, width=980px, resizable=no, scrollbars=yes, location=no, toolbar=no, status=no' )" id="myAccount"> $my_account_text</a> 
				&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				
				#if($control_panel_url)
					<a href="#" onclick="window.open('$control_panel_url', '_blank', 'height=700px, width=980px, resizable=no, scrollbars=yes, location=no, toolbar=no, status=no' )" id="myAccount"> $control_panel_text</a> 
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				#end
				
				<a href="$sign_out_url">$sign_out_text</a> 
			#end
		</div>
		<div id="heading">
			<h1 class="site-title">
				<a class="$logo_css_class" href="http://www.uni-hamburg.de" title="#language_format ("go-to-x", [$site_name])">
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
				</a>
				<div class="l2go-logo">
					#if ($show_site_name)
						<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
							<a href="$home_url">$site_name</a>
						</span>
					#end
				</div>

			</h1>

			<h2 class="page-title">
				<span>$the_title</span>
			</h2>
		</div>

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
		
		#set ($param1="")
		#set ($param1 = $request.getParameter('_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery')) 
		
		<div class="search">
			<form action="l2go/-/get/0/0/0/0/0/"  method="post" name="_lgopenaccessvideos_WAR_lecture2goportlet_fm" id="_lgopenaccessvideos_WAR_lecture2goportlet_fm"> 
				<input autocomplete="off" aria-owns="yui_patched_v3_11_0_1_1449737860306_123" aria-expanded="false" aria-autocomplete="list" class="field yui3-aclist-input" id="_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery" name="_lgopenaccessvideos_WAR_lecture2goportlet_searchQuery" value="$param1" type="text" placeholder='#language("search-videos")'>
				<button id="_lgopenaccessvideos_WAR_lecture2goportlet_searchButton" class="btn btn-primary button" type="submit">
					<i class="icon-search"></i><span></span>
				</button>
				<div id="search-container"></div>
			</form>
		</div>
	</header>
		
	<div id="content">
		<nav id="breadcrumbs">#breadcrumbs()</nav>
		
		#set($currentPage = "")
		#foreach ($nav_item in $nav_items)
		#if ($nav_item.isSelected())
		#set($currentPage = $nav_item.getName())
		#break
		#end
		#end 
		<div class="current-page"> <h1>$currentPage</h1> </div>
		
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">
		<div class="left">
			<!--#language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>-->
		</div>
		
		<div class="right">
			<a href="http://twitter.com/#!/Lecture2Go" title="Twitter" target="blank" id="tw">	
				<img class="tw" src="/lecture2go-theme/images/tw.png" alt="Twitter" >
			</a>
			<a href="http://www.facebook.com/pages/Hamburg-Germany/Lecture2Go/201731849859567" id="fb" title="Facebook" target="blank">	
				<img class="fb" src="/lecture2go-theme/images/fb.png" alt="Facebook">	
			</a>

			<a href="/impressum" id="impressum">#language("impressum")</a>
			&nbsp;|&nbsp;
			<a href="/disclaimer" id="disclaimer">#language("disclaimer")</a>
		</div>	
	</footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>
</html>