<div id="fuss" class="rund rand grau">
	<h6 class="versteckt">Seitenfuß</h6>
	
	<strong class="uhh">Universität Hamburg</strong>
	<ul>
	  <li>
	    <a href="https://www.uni-hamburg.de/campuscenter.html">Campus Center</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/career-center.html">Career Center</a>
	  </li>
	  <li>
	    <a href="https://www.stine.uni-hamburg.de/scripts/mgrqispi.dll?APPNAME=CampusNet&amp;PRGNAME=EXTERNALPAGES&amp;ARGUMENTS=-N000000000000001,-N000265,-Astartseite">Studien-Infonetz STiNE</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/elearning.html">eLearning</a>
	  </li>
	  <li>
	    <a href="http://www.unishop-hh.de">Unikontor</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/beschaeftigtenportal/services/weiteres/wahlamt.html">Uni-Wahl</a>
	  </li>
	</ul>
	
	<ul>
	  <li>
	    <a href="https://www.uni-hamburg.de/presse.html">Presse</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/uhh/stellenangebote.html">Stellenangebote</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/service/weitere/weiterbildung.html">Weiterbildung</a>
	  </li>
	  <li>
	    <a href="http://www.clisap.de/de">CliSAP</a>
	  </li>
	  <li>
	    <a href="http://www.cui.uni-hamburg.de">CUI</a>
	  </li>
	  <li>
	    <a href="http://www.pier-campus.de">PIER</a>
	  </li>
	</ul>
	
	<ul>
	  <li>
	    <a href="https://www.uni-hamburg.de">Uni Hamburg</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/campuscenter.html">Studium</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/forschung.html">Forschung</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/internationales.html">Internationales</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/einrichtungen/fakultaeten.html">Fakultäten</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/einrichtungen.html">Einrichtungen</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/service.html">Service</a>
	  </li>
	</ul>
	
	<ul>
	  <li>
	    <a href="http://www.uni-hamburg.de/kontakt.html">Kontakt</a>
	  </li>
	  <li>
	    <a href="http://www.uni-hamburg.de/sitemap.html">Sitemap</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/onTEAM/campus">Campus-Navigator</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/beschaeftigtenportal.html">Beschäftigten-Portal</a>
	  </li>
	</ul>
	
	<ul>
	  <li>
	    <a href="http://de-de.facebook.com/uni.hamburg" class="facebook icon" target="_blank">Facebook</a>
	  </li>
	  <li>
	    <a href="https://twitter.com/unihh" class="twitter icon" target="_blank">Twitter</a>
	  </li>
	  <li>
	    <a href="https://instagram.com/uni_hamburg" class="instagram icon" target="_blank">Instagram</a>
	  </li>
	  <li>
	    <a href="https://www.youtube.com/c/unihamburg" class="youtube icon" target="_blank">YouTube</a>
	  </li>
	  <li>
	    <a href="http://lecture2go.uni-hamburg.de" class="lecture2go icon" target="_blank">Lecture2Go</a>
	  </li>
	  <li>
	    <a href="http://www.podcampus.de/institutions/universitaet-hamburg" class="podcast icon" target="_blank">Podcasts</a>
	  </li>
	  <li>
	    <a href="https://www.uni-hamburg.de/beschaeftigtenportal/services/oeffentlichkeitsarbeit/online-services/apps" class="uhh-app icon" target="_blank">Apps</a>
	  </li>
	</ul>
	
	<div class="copyright">&copy; 2016 Universität Hamburg. Alle Rechte vorbehalten</div>
	
	<div class="audit">
	  <a title="Zur Seite &quot;audit familiengerechte hochschule&quot;" href="https://www.uni-hamburg.de/gleichstellung/familie/audit.html">
	    audit familiengerechte hochschule
	  </a>
	</div>
	
	<div class="audit1">
	  <a title="Zur Seite &quot;Audit Internationalisierung&quot;" href="https://www.uni-hamburg.de/internationales/profil/audit.html">
	    HRK-Audit
	  </a>
	</div>	
</div>

<script>
	var currentYear = (new Date).getFullYear();
	$(".copyright").text( "\u00A9 "+currentYear+" Universität Hamburg. Alle Rechte vorbehalten");
</script>