/CategoryMapper.class
/CreatorMapper.class
/LectureseriesCategoryMapper.class
/LectureseriesCreatorMapper.class
/TermMapper.class
/VideoCategoryMapper.class
/VideoCreatorMapper.class
/VideoLectureseriesMapper.class
