/Language_ar.properties
/Language_bg.properties
/Language_ca.properties
/Language_cs.properties
/Language_da.properties
/Language_de.properties
/Language_el.properties
/Language_es.properties
/Language_et.properties
/Language_eu.properties
/Language_fa.properties
/Language_fi.properties
/Language_fr.properties
/Language_gl.properties
/Language_hi_IN.properties
/Language_hr.properties
/Language_hu.properties
/Language_in.properties
/Language_it.properties
/Language_iw.properties
/Language_ja.properties
/Language_ko.properties
/Language_lo.properties
/Language_lt.properties
/Language_nb.properties
/Language_nl_BE.properties
/Language_nl.properties
/Language_pl.properties
/Language_pt_BR.properties
/Language_pt_PT.properties
/Language_ro.properties
/Language_ru.properties
/Language_sk.properties
/Language_sl.properties
/Language_sr_RS_latin.properties
/Language_sr_RS.properties
/Language_sv.properties
/Language_tr.properties
/Language_uk.properties
/Language_vi.properties
/Language_zh_CN.properties
/Language_zh_TW.properties
